.wombat-orange{
  color: #e99232;
}
.btn-info {
  color: #fff;
  background-color: #e99232;
  border-color: #ca7122;
}

.btn-wombat {
  color: #fff;
  background-color: #e99232;
  border-color: #ca7122;
}




.padded{
  padding: 10px;
}
.fullwidth{
  width: 100%;
}
li{
  cursor: pointer;
}
.unselectable{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.centered{
  text-align: center;
}
.block{
  cursor: move;
  height: 200px;
}

.dragdropzone{
  //min-height: 800px;
  background-color: #eeeeee;
  z-index: 10;
}

.draggable{
  z-index: 100;
}
